venv/
localenv/
__pycache__/
models/
data/squad_train_sample.csv
data/preprocessed/enhanced_sample.json
data/preprocessed/preprocessing_summary.json
data/preprocessed/validation_results.csv
src/error_analysis.py
src/evaluation.py
src/model_evaluator.py
src/download_model.py
documentations/docs/todolists.txt
documentations/docs/Task_6_Question_Answering_with_Transformers_Complete_Notes.txt
documentations/docs/Task_6_Question_Answering_with_Transformers_Complete_Notes.pdf
documentations/docs/arch.pdf
docs/Task_description.txt
docs/error_analysis_report.txt
